{% extends 'base.html' %}

{% block title %}Vehicles{% endblock %}
{% block nav_vehicles %}active{% endblock %}

{% block content %}

<h2>Vehicles</h2>

<a href="{% url 'fleet:vehicles:vehicle_create' %}" class="btn">
    Add New Vehicle
</a>

<div class="vehicle-list" style="margin-top: 20px;">
    <ul>
        {% for vehicle in vehicles %}
            <li style="padding: 10px 0; border-bottom: 1px solid #eee;">
                {{ vehicle }}

                <span style="float: right;">
                    <a href="{% url 'fleet:vehicles:vehicle_update' vehicle.pk %}">
                        Edit
                    </a>
                    |
                    <a href="{% url 'fleet:vehicles:vehicle_delete' vehicle.pk %}"
                       onclick="return confirm('Are you sure you want to delete this vehicle?');">
                        Delete
                    </a>
                </span>
            </li>
        {% empty %}
            <li>No vehicles found.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
